/VideojuegoRPG/nbproject/private/
/VideojuegoRPG/build/
/Videojuegorpg/nbproject/private/
/Pruebas/nbproject/private/
/Pruebas/build/
/Pruebas/dist/
/Videojuegorpg/build/
/Videojuegorpg/dist/
/Tema 10/nbproject/private/
/Tema 10/build/
/RepasoExamen/nbproject/private/
/RepasoExamen/build/
